<app-page-title pageTitle="About" pageIcon="bi bi-heart-half" />

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime excepturi exercitationem error. Odit, deserunt beatae?
  Corrupti nihil excepturi amet dolores.
</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea necessitatibus placeat vitae cumque corrupti, expedita hic
  nam numquam ducimus sint? Sint veritatis excepturi voluptatem labore aliquam voluptatum dolorum. Qui consequuntur rem
  quidem enim quas alias beatae, blanditiis eum doloremque autem officiis omnis laborum et voluptate ullam architecto
  sint delectus neque.
</p>
