<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card mx-3 mx-md-5 rounded-4 border-0">
    <div class="card-body p-5">
      <div class="row g-4 g-md-5">
        <div class="col-md-6">
          <img
            src="https://picsum.photos/600/600"
            class="img-fluid rounded-4 bg-light"
            alt="SeventeenApp"
            height="600"
            width="600" />
        </div>
        <div class="col-md-6 align-self-center">
          <h2 class="card-title mb-3 text-muted">
            <i class="bi bi-airplane-fill text-success"></i>
            Hey! Wassup
          </h2>
          <p class="card-text">
            Login back to your super awesome
            <strong class="text-success">Seventeen App</strong>.
          </p>

          <div class="mt-4">
            <div class="mb-3">
              <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" />
            </div>
            <div class="mb-4">
              <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" />
            </div>
            <div class="d-grid gap-2">
              <button class="btn btn-success" type="button" (click)="login()">
                <i class="bi bi-box-arrow-in-right"></i>
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
